/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
[data-toggle="toggle"] {
	display: none;
}

.page-num {
	margin: 0.1rem;
}

.collapse {
	transition: 0.5s;
}

.my-custom-scrollbar {
	position: relative;
	height: 80vh;
	overflow: auto;
  }
  .table-wrapper-scroll-y {
	display: block;
  }
  .btn-secondary{transition-property: background-color;
	transition-duration: 1s;
  }
  A { font-size: 14px; color: blue; }
  A.link-green { font-size: 14px; color: green; }
  A.link-dark { font-size: 14px; color: dark; }
  A.link-blue { font-size: 14px; color: blue; }
  A:link { text-decoration: none; }
  A:visited { text-decoration: none; }
  A:active { text-decoration: none; }
  
  
  
  @import url(https://fonts.googleapis.com/css?family=PT+Sans);

  body {
  margin: 0;
  font-family: PT Sans, sans-serif;
  background-color: #fcfcfc;
  color: #000;
}

.container {
  max-width: 100%;
  position: relative;

  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container::-webkit-scrollbar {
  height: 45px;
}
.container::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-clip: content-box;
  border-radius: 100%;
  border: 20px solid transparent;
}

.entries {
  margin-right: -10000px;
  margin-left: 1rem;
}

.timeline {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 0.7rem;
  background-color: beige;
  background-clip: content-box;
  border-width: 0.2rem 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(0, 0, 0, 0.1);
}

.entry {
  float: left;
  max-width: 350px;
  position: relative;
  text-align: center;
  margin: 0 1rem;
  margin-top: 0.7rem;
}
.entry .dot {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: powderblue;
  left: 50%;
  margin-left: -0.6rem;
  margin-top: -0.95rem;
  border-radius: 100%;
  box-sizing: border-box;
  background-clip: content-box;
  border-width: 0.16rem;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(255, 255, 255, 0.1), inset 0 0.4rem 0.1rem rgba(255, 255, 255, 0.3);
  -moz-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  -o-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  -webkit-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
}

.entry:hover .dot {
  width: 1.9rem;
  height: 1.9rem;
  margin-left: -0.8rem;
  margin-top: -1.15rem;
  background-color: thistle;
}
.entry:hover .label {
  margin-top: 2.5rem;
  background-color: #d0e8e4;
  border-bottom: 0.5rem solid transparent;
}

.label {
  display: inline-block;
  position: relative;
  background-color: #E1F0EE;
  background-clip: padding-box;
  margin-top: 3rem;
  padding: 0.4rem 0.8rem 0.8rem;
  border-radius: 0.2rem;
  -moz-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  -o-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  -webkit-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  border-bottom: 0 solid transparent;
}
.label .time {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0 0 0.4rem;
  padding: 0 0.3rem 0.3rem;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.label .detail {
  font-size: 0.8rem;
}
.label:before {
  content: '';
  display: block;
  position: absolute;
  background-color: inherit;
  background-clip: content-box;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  left: 50%;
  margin-top: -0.9rem;
  margin-left: -0.5rem;
  transform-origin: center;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}
.label a {
  color: #000;
  text-decoration: none;
}
.label a:before {
  content: '';
}
.label a:after {
  content: '';
}

.entry.life .label {
  background-color: #e1f0e4;
}

.entry.life:hover .label {
  background-color: #d0e8d5;
}

.entry.study .label {
  background-color: #e1e8f0;
}

.entry.study:hover .label {
  background-color: #d0dbe8;
}

.example::-webkit-scrollbar {
  display: none;
}

.progress-bar-vertical {
  width: 30px;
  min-height: 100px;
  margin-right: 20px;
  float: left;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

video {
	width: 100%;
	height: auto;
	max-height: 100%;
  }
  
.wrapper {
        max-height: 400px;
        
      }
      .exmpl {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .exmpl img {
        height: 100%;
        width: auto;
      }
	  
.header_table {
	position: sticky;
	top: -2;
	background: white;
}

.hide{
	display: none;
}

.cover img {
    object-fit: cover;
}
.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow:hidden;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a{text-decoration:none; color: #000;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
a,u
 {
	text-decoration: none !important;
}

body{
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
}
/*---start-wrap----*/

.form-switch .form-check-input:checked {
    background-color:#000;
	
}

.wrap{
	width:50%;
	margin:0 auto;
}
.wrap90{
	width:90%;
	margin:0 auto;
}
.wrap80{
	width:80%;
	margin:0 auto;
}
/*---start-header----*/
.header{
	background:url(../images/border.html) repeat-x 0px 0px #FFF;
	padding: 1.5em 0 1.2em;
	border-bottom: 10px solid rgba(214, 213, 212, 0.64);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}
.logo{
	float:left;
}
.logo img{
	display:inline-block;
}
.nav-icon{
	float: left;
	margin: 0.6% 2% 0 8%;
	width: 4.55%;
}
.nav-icon a span{
	width:48px;
	height:34px;
	display:block;
	background:url(../images/nav-icon.html) no-repeat 0px 0px;
}
.top-searchbar {
	float: left;
	width: 46%;
	position: relative;
	margin-left: 2em;
}
.top-searchbar input[type="text"]{
	margin-top: 0.55em;
	width: 100%;
	padding: 0.58em 1em;
	border: 1px solid #E7E7E7;
	transition: border-color 0.3s all;
	-webkit-transition: border-color 0.3s all;
	-moz-transition: border-color 0.3s all;
	-o-transition: border-color 0.3s all;
	outline: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-webkit-appearance: none;
	font-family: 'Open Sans', sans-serif;
	color:#777;
	position:relative;
}
.top-searchbar input[type="text"]{
	background:#F7F6F6;
}
.top-searchbar input[type="text"]:hover{
	border:1px solid #DDDDDD;
}
.top-searchbar input[type="submit"]{
	position: absolute;
	background: url(../images/search-icon.html) no-repeat 0px 0px;
	height: 26px;
	width: 26px;
	display: inline-block;
	border: none;
	top: 12px;
	right: -22px;
	outline:none;
	cursor:pointer;
}
.box{
	position:absolute;
	top:-100px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
 }
.box_content_center{
	background: rgba(240, 239, 238, 0.74);
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 1.9em;
	right: 15em;
 }
 #activator {
}
.menu_box_list{
	display:inline-block;
	padding: 2.1em 0;
}
.menu_box_list ul li {
	display: inline-block;
}
.menu_box_list li a{
	display: block;
	color: #363636;
	font-size: 0.875em;
	margin: 0.44em 2em;
	font-weight: 900;
	text-transform: uppercase;
	text-align: left;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.menu_box_list li a:hover{
	color:#B9CB41;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
.boxclose span{
	width:35px;
	height:35px;
	display:inline-block;
	background:url(../images/close2.html) no-repeat 0px 0px;
}
.boxclose span:hover{
	background:url(../images/close2h.html) no-repeat 0px 0px;
}
/*--userinfo--*/
.userinfo{
	float: right;
	width: 15%;
	margin-top: 0.3em;
}
.user ul li{
	display:inline-block;
}
.user ul li a span{
	vertical-align: middle;
	margin-left: 0.8em;
	font-size: 1em;
}
.user ul li a{
	color:#8C8C8C;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.user ul li a:hover{
	color:#B9CB41;
}
.user ul li a img{
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
	vertical-align:middle;
	
}

.info-div {
	position: relative;
	width: 100%;
	z-index: 10;
	height: 100%;
	max-height: 600px;
	overflow-y: scroll;
  }
  
/*--//userinfo--*/
/*----start-post-grids----*/
.post-share-edit span{
	background:url(../images/edit.html) no-repeat 0px 0px;
	height:16px;
	width:16px;
	display:inline-block;
	border-radius:0em;
	-webkit-border-radius:0em;
	-moz-border-radius:0em;
	-o-border-radius:0em;
}
.post-share-edit span:hover{
	background:url(../images/edit.html) no-repeat 0px 0px;
}

.post-share span{
	background:url(../images/facebook.html) no-repeat 0px 0px;
	height:26px;
	width:26px;
	display:inline-block;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.post-share span:hover{
	background:url(../images/facebookh.html) no-repeat 0px 0px;
}

.post-share-vk span{
	background:url(../images/vk.html) no-repeat 0px 0px;
	height:26px;
	width:26px;
	display:inline-block;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.post-share-vk span:hover{
	background:url(../images/vkh.html) no-repeat 0px 0px;
}

.post-share-ok span{
	background:url(../images/ok.html) no-repeat 0px 0px;
	height:26px;
	width:26px;
	display:inline-block;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.post-share-ok span:hover{
	background:url(../images/okh.html) no-repeat 0px 0px;
}

.post-share-insta span{
	background:url(../images/insta.html) no-repeat 0px 0px;
	height:26px;
	width:26px;
	display:inline-block;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.post-share-insta span:hover{
	background:url(../images/instah.html) no-repeat 0px 0px;
}

.post-share-pickup span{
	background:url(../images/pickup.html) no-repeat 0px 0px;
	height:32px;
	width:32px;
	display:inline-block;
}

.post-share-pickup span:hover{
	background:url(../images/pickup.html) no-repeat 0px 0px;
}

.post-share-delivery span{
	background:url(../images/delivery.html) no-repeat 0px 0px;
	height:32px;
	width:32px;
	display:inline-block;
}

.post-share-delivery span:hover{
	background:url(../images/delivery.html) no-repeat 0px 0px;
}

.post-share-web span{
	background:url(../images/web.html) no-repeat 0px 0px;
	height:26px;
	width:26px;
	display:inline-block;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.post-share-web span:hover{
	background:url(../images/webh.html) no-repeat 0px 0px;
}


.rateit span{
	height:22px;
	width:95px;
	background:url(../images/stars0.html) no-repeat 0px 0px; 
	display:inline-block;
}
.rateit span:hover{
	background:url(../images/stars0.html) no-repeat 0px 0px; 
}

.rateit1 span{
	height:18px;
	width:95px;
	background:url(../images/stars1.html) no-repeat 0px 0px; 
	display:inline-block;
}
.rateit1 span:hover{
	background:url(../images/stars1.html) no-repeat 0px 0px; 
}

.rateit2 span{
	height:18px;
	width:95px;
	background:url(../images/stars2.html) no-repeat 0px 0px; 
	display:inline-block;
}
.rateit2 span:hover{
	background:url(../images/stars2.html) no-repeat 0px 0px; 
}

.rateit3 span{
	height:18px;
	width:95px;
	background:url(../images/stars3.html) no-repeat 0px 0px; 
	display:inline-block;
}
.rateit3 span:hover{
	background:url(../images/stars3.html) no-repeat 0px 0px; 
}

.rateit4 span{
	height:18px;
	width:95px;
	background:url(../images/stars4.html) no-repeat 0px 0px; 
	display:inline-block;
}
.rateit4 span:hover{
	background:url(../images/stars4.html) no-repeat 0px 0px; 
}

.rateit5 span{
	height:18px;
	width:95px;
	background:url(../images/stars5.html) no-repeat 0px 0px; 
	display:inline-block;
}
.rateit5 span:hover{
	background:url(../images/stars5.html) no-repeat 0px 0px; 
}

.post-basic-info{
	padding: 2% 2% 2% 2%;
}
.post-basic-info h3 a{
	color: #464A55;
	font-size: 1.2em;
	margin-bottom: 0.2em;
	display: block;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info h3 a:hover{
	color:#B9CB41;
}
.post-basic-info span a{
	color:#464A55;
	font-size:0.9em;
}
.post-basic-info span a label{
	height:12px;
	width:12px;
	display:inline-block;
	background:url(../images/map-pin.html) no-repeat 0px 0px;
	margin-right: 0.4em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info span a:hover{
	color:#B9CB41;
}
.post-basic-info p{
	font-size: 0.875em;
	color: #464A55;
	margin: 0.6em 0;
	line-height: 1.5em;
}
/*--post-info-rate-share--*/
.post-info-rate-share{
	border-top: 1px solid rgba(7, 140, 129, 0.36);
	padding: 1% 0 1%;
	margin: 1%;
}
.post-info-rate-share-no-border{
	padding: 1% 0 1%;
}
.post-info{
	padding: 10px;
}
.rateit{
	float:left;
	margin: 0.1em 0 0 1em;
}

.rateit1{
	float:left;
	margin: 0.18em 0 0 1em;
}
.rateit2{
	float:left;
	margin: 0.18em 0 0 1em;
}
.rateit3{
	float:left;
	margin: 0.18em 0 0 1em;
}
.rateit4{
	float:left;
	margin: 0.18em 0 0 1em;
}
.rateit5{
	float:left;
	margin: 0.18em 0 0 1em;
}
.post-share{
	float:right;
	margin-right:1.0em;
}
.post-share-vk{
	float:right;
	margin-right:1.0em;
}
.post-share-ok{
	float:right;
	margin-right:1.0em;
}
.post-share-insta{
	float:right;
	margin-right:1.0em;
}
.post-share-web{
	float:right;
	margin-right:1.0em;
}
/*--footer--*/
.footer{
	position:fixed;
	bottom:10px;
	right:15px;
	padding-top:15px;
}
.footer p{
	color:#8C8C8C;
	font-size:0.9em;
}
.footer p a{
	color:#B9CB41;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.footer p a:hover{
	color:#8C8C8C;
}
/*----start-single-page----*/
.artical-content h3 a{
	font: 400 28px/28px 'Open Sans', sans-serif;
	color: #626262;
	text-align: left;
	font-weight: 400;
	padding: 0.9em 0 0;
	display: block;
}
.artical-content p{
	font: normal 16px/26px 'Open Sans', sans-serif,Helvetica,sans-serif;
	color: #9b9b9b;
	padding: 17px 0px;
	font-weight: 400;
}
.artical-content img{
	width:100%;
}
/*----share-artical----*/
.share-artical ul li{
	display:inline-block;
	padding-right:10px;
}
.share-artical ul li img{
	vertical-align: text-top;
	padding-right:7px;
}
.share-artical ul li a{
	font: 400 14px/22px  'Open Sans', sans-serif;
	color: #cbcbc3;
	padding-left: 20px;
	font-weight: 400;
}
.share-artical ul li a:hover{
	color:#B9CB41;
}
/*---comment-box----*/
.single-page {
	margin-top: 1em;
	background: #fff;
	padding:2%;
}
/*----artical-links---*/
.artical-links{
	padding: 10px 0px;
	float: left;
}
.share-artical {
	float: right;
	padding: 10px;
}
.artical-links ul li{
	display:inline-block;
}
.artical-links ul li img{
	vertical-align:middle;
	padding-right:10px;
}
.artical-links ul li a{
	font: 400 14px/22px  'Open Sans', sans-serif;
	color: #cbcbc3;
	padding-left: 20px;
	font-weight: 400;
}
.artical-links ul li a:hover{
	color:#B9CB41;
}
/*----start-comment-section---*/
h4.style1 a {
	font: 400 20px/28px 'Open Sans', sans-serif;
	color: #363636;
	text-transform: uppercase;
	padding: 1em 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
h3.style {
	font: 400 13px/28px 'Open Sans', sans-serif;
	color: #363636;
	text-align: left;
	text-transform: uppercase;
	padding: 0.8em 0 0;
}
p.para {
	font-size:0.875em;
	color: #B7B5B5;
	margin: 0.6em 0;
	line-height: 1.8em;
	font-weight: 400;
}
.grids_of_2 h2 {
	font:400 30px/28px 'Open Sans', sans-serif;
	color: #363636;
	text-align: left;
	padding: 1em 0 0.5em;
}
.grid1_of_2{
	margin-top: 0.8em;
}
.grid_img{
	float: left;
	width: 8.33333%;
	margin-right: 2%;
}
.grid_text{
	float: left;
	width:88.33333%
}
.grid_text h3{
	text-align:left;
}
.btn1{
	display: inline-block;
	text-align: left;
	font-size: 0.875em;
	color:#363636;
	line-height: 1.8em;
	padding: 2px 0;
	font-family: 'Open Sans', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	font-weight: 400;
}
.btn1:before{
	content:url('../images/reply.html');
	float:left;
}
.btn1:hover{
	zoom: 1;
	color:#B9CB41;
}
.grid1_of_2.left{
	margin-left: 14%;
}
/*---comment-box----*/
.artical-commentbox {
	margin: 1em 0;
}
.table-form{
	margin: 0em auto;
}
.table-form form input[type="text"]{
	font-family: 'Open Sans', sans-serif;
	border: 1px solid rgba(192, 192, 192, 0.61);
	outline: none;
	padding: 12px;
	color: #333333;
	overflow: hidden;
	width: 30%;
	display: block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.table-form textarea{
	font-family: 'Open Sans', sans-serif;
	padding: 8px;
	outline:none;
	color: #333333;
	border: 1px solid rgba(192, 192, 192, 0.61);
	width:60%;
	height:180px;
	resize: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.table-form form input[type="text"]:hover,.table-form textarea:hover{
	border: 1px solid #B9CB41;
}
.table-form input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
	padding: 0.8em 1.5em;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid rgba(192, 192, 192, 0.61);
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	cursor:pointer;
	font-size: 1em;
	outline:none;
}
.table-form input[type="submit"]:hover{
	color:#B9CB41;
	border: 1px solid #B9CB41;
}
.table-form label{
	display: block;
	margin: 0.4em 0 0.5em;
	font-family: 'Open Sans', sans-serif;
	color:#363636;
	font-weight:100;
}
.table-form div{
	margin:0.5em 0;
}
.table-form div {
	margin: 1em 0;
}
/*----//End-comment-section---*/
/*  Contact Form  */
.contact-info {
	margin-top: 1em;
	padding: 2% 2% 3% 2%;
	background: #fff;
}
.contact form{
	font-family: 'Open Sans', sans-serif;
}
.map{
	margin-bottom:30px;
}
.list3 li>img {
	float: left;
	margin-right:10px;
}
.extra-wrap {
	overflow: hidden;
}
.extra-wrap p {
	color: #626262;
	line-height: 1.8em;
	font-size: 0.85em;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
}
span.mail a {
	color:#B9CB41;
}
span.mail a:hover{
	color:#626262;
}
.contact-to input[type="text"] {
	padding: 12px 10px;
	width: 30.66%;
	font-family: 'Open Sans', sans-serif;
	margin: 12px 0;
	border: 1px solid rgba(192, 192, 192, 0.61);
	color: #626262;
	background: #FFF;
	float: left;
	outline: none;
	font-size: 0.85em;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.contact-to input[type="text"]:nth-child(2),.contact-to input[type="text"]:nth-child(3){
	margin-left:10px;
}
.text2 input[type="text"], .text2 textarea {
	width: 97.7%;
	margin: 12px 0;
	border: 1px solid rgba(192, 192, 192, 0.61);
	color: #626262;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	margin-bottom: 25px;
	height: 100px;
	padding: 12px 10px;
	font-size: 0.85em;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.text2 textarea{
	height:180px;
}
.text2 input[type="text"]:hover,.text2 textarea:hover,.contact-to input[type="text"]:hover{
	border: 1px solid #B9CB41;
}
.contact-form input[type="submit"] {
	font-family: 'Open Sans', sans-serif;
	color: #5a5a5a;
	padding: 0.8em 1.5em;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid rgba(192, 192, 192, 0.61);
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	cursor: pointer;
	font-size: 1em;
	outline: none;
}
.contact-form input[type="submit"]:hover{
	color: #B9CB41;
	border: 1px solid #B9CB41;
}
.span_1_of_first1 h5{
	color: #363636;
	text-transform: uppercase;
	font-size: 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0.6em;
}
.span_1_of_first1 {
	width: 29.5%;
}
.col_1_of_bottom:first-child {
	margin-left: 0;
}
.col_1_of_bottom {
	display: block;
	float: left;
	margin: 1% 0 1% 3.6%;
}
.contact-grids {
	margin-bottom: 1em;
}
/*----//End-contact----*/
/*---//End-wrap----*/
/*--media Quries for 1440px-monitors-*/
@media only screen and (max-width:1440px) and (min-width:1366px) {
	.wrap{
		width:85%;
	}
}
/*--//End-media Quries for 1440px-monitors-*/
/*--media Quries for 1366px-monitors-*/
@media only screen and (max-width:1366px) and (min-width:1280px) {
	.wrap{
		width:90%;
	}
	.footer {
		bottom: 0px;
		right: 0px;
		background: #fff;
		padding: 10px;
	}
}
/*--//End-media Quries for 1366px-monitors-*/
/*--media Quries for 1280px-monitors-*/
@media only screen and (max-width:1280px) and (min-width:1024px) {
	.wrap{
		width:80%;
	}
	.footer {
		bottom: 0px;
		right: 0px;
		background: #fff;
		padding: 10px;
	}
	.contact-to input[type="text"] {
		width: 30.2%;
	}
}
/*--//End-media Quries for 1280px-monitors-*/
/*--media Quries for 1024px-monitors-*/
@media only screen and (max-width:1024px) and (min-width:768px) {
	.wrap{
		width:90%;
	}
	.footer {
		bottom: 0px;
		right: 0px;
		background: #fff;
		padding: 10px;
	}
	.contact-to input[type="text"] {
		width: 30%;
	}
	.text2 input[type="text"], .text2 textarea {
		width: 97.3%;
	}
	.top-searchbar {
		width: 40%;
	}
	a.boxclose {
		right: 6em;
		top: 2em;
	}
}
/*--//End-media Quries for 1024px-monitors-*/
/*--media Quries for 768px-monitors-*/
@media only screen and (max-width:768px) and (min-width:640px) {
	.wrap{
		width:90%;
	}
	.footer {
		bottom: 0px;
		right: 0px;
		background: #fff;
		padding: 10px;
	}
	.contact-to input[type="text"] {
		width: 28.91%;
	}
	.text2 input[type="text"], .text2 textarea {
		width: 96.4%;
		margin-bottom: 16px;
		resize:none;
	}
	.contact-form input[type="submit"] {
		padding: 0.6em 1.2em;
	}
	.top-searchbar {
		width: 29%;
	}
	a.boxclose {
		right: 1em;
		top: 2em;
	}
	.para1{
		display:none;
	}
	.nav-icon {
		margin: 1.2% 2% 0 6%;
	}
	.artical-content h3 a {
		font: 400 24px/36px 'Open Sans', sans-serif;
		padding: 0.5em 0 0;
	}
	.artical-content p:nth-child(1){
		display:none;	
	}
	.userinfo {
		width: 17%;
	}
	.artical-content p {
		font: normal 14px/22px 'Open Sans', sans-serif,Helvetica,sans-serif;
		padding: 8px 0px;
	}
	.artical-links {
		float:none;
	}
	.share-artical{
		float:none;
		margin:0em 0 0 0;
		padding:0;
	}
	.share-artical ul li a ,.artical-links ul li a{
		padding-right: 20px;
		padding-left:0;
	}
	.grids_of_2 h2 {
		font: 400 26px/28px 'Open Sans', sans-serif;
		padding: 0.8em 0 0.5em;
	}
	h4.style1 a {
		font: 400 17px/14px 'Open Sans', sans-serif;
	}
	.grids_of_2 h2 {
		font: 400 24px/14px 'Open Sans', sans-serif;
		padding: 0.5em 0 0.2em;
	}
	.table-form form input[type="text"] {
		width: 46%;
		padding: 10px;
	}
	.table-form textarea {
		width: 85%;
		padding: 10px;
	}
	.table-form input[type="submit"] {
		padding: 0.6em 1.2em;
	}
	.menu_box_list li a {
		margin: 0.44em 1.5em;
	}
}
/*--//End-media Quries for 768px-monitors-*/
/*--media Quries for 640px-monitors-*/
@media only screen and (max-width:640px) and (min-width:480px) {
	.wrap{
		width:90%;
	}
	.footer {
		bottom: 0px;
		right: 0px;
		background: #fff;
		padding: 10px;
	}
	.contact-to input[type="text"] {
		width: 96%;
	}
	.contact-to input[type="text"]:nth-child(2), .contact-to input[type="text"]:nth-child(3) {
		margin-left:0px;
	}
	.text2 input[type="text"], .text2 textarea {
		width: 96.4%;
		margin-bottom: 16px;
		resize:none;
	}
	.contact-form input[type="submit"] {
		padding: 0.6em 1.2em;
	}
	.top-searchbar {
		width: 47%;
	}
	a.boxclose {
		right: 1em;
		top: 2em;
	}
	.para1{
		display:none;
	}
	.nav-icon {
		margin: 1.2% 2% 0 6%;
	}
	.artical-content h3 a {
		font: 400 24px/36px 'Open Sans', sans-serif;
		padding: 0.5em 0 0;
	}
	.artical-content p:nth-child(1){
		display:none;	
	}
	.userinfo {
		display:none;
	}
	.artical-content p {
		font: normal 14px/22px 'Open Sans', sans-serif,Helvetica,sans-serif;
		padding: 8px 0px;
	}
	.artical-links {
		float:none;
	}
	.share-artical{
		float:none;
		margin:0em 0 0 0;
		padding:0;
	}
	.share-artical ul li a ,.artical-links ul li a{
		padding-right: 20px;
		padding-left:0;
	}
	.grids_of_2 h2 {
		font: 400 26px/28px 'Open Sans', sans-serif;
		padding: 0.8em 0 0.5em;
	}
	h4.style1 a {
		font: 400 17px/14px 'Open Sans', sans-serif;
	}
	.grids_of_2 h2 {
		font: 400 24px/14px 'Open Sans', sans-serif;
		padding: 0.5em 0 0.2em;
	}
	.table-form form input[type="text"] {
		width: 46%;
		padding: 10px;
	}
	.table-form textarea {
		width: 85%;
		padding: 10px;
	}
	.table-form input[type="submit"] {
		padding: 0.6em 1.2em;
	}
	.menu_box_list li a {
		margin: 0.44em 1.5em;
	}
	.header {
		padding: 1em 0 0.6em;
	}
	.menu_box_list ul li {
		display:block;
	}
	.box {
		top: -12px;
	}
	.map{
		display:none;
	}
	.col_1_of_bottom {
		float: none;
		margin: 1% 0 1% 0%;
	}
	.span_1_of_first1 {
		width:100%;
	}
	.single-page,.contact-info{
		margin-top: 1em;
		padding: 4% 4% 5% 4%;
	}
}
/*--//End-media Quries for 640px-monitors-*/
/*--media Quries for 480px-monitors-*/
@media only screen and (max-width:480px) and (min-width:320px) {
	.wrap{
		width:95%;
	}
	.footer {
		bottom: 0px;
		right: 0px;
		background: #fff;
		padding: 10px;
	}
	.contact-to input[type="text"] {
		width: 94.5%;
	}
	.contact-to input[type="text"]:nth-child(2), .contact-to input[type="text"]:nth-child(3) {
		margin-left:0px;
	}
	.text2 input[type="text"], .text2 textarea {
		width: 94.5%;
		margin-bottom: 16px;
		resize:none;
	}
	.contact-form input[type="submit"] {
		padding: 0.6em 1.2em;
	}
	.top-searchbar {
		width: 94%;
		float: none;
		margin: 0;
		clear:both;
	}
	a.boxclose {
		right: 1em;
		top: 2em;
	}
	.para1,.para2{
		display:none;
	}
	.nav-icon {
		margin: 2.5% 6.8% 0 0%;
		float: right;
	}
	.artical-content h3 a {
		font: 400 20px/31px 'Open Sans', sans-serif;
		padding: 0.5em 0 0;
	}
	.artical-links ul li {
		display:block;
	}
	.share-artical ul li {
		display:block;
	}
	.artical-content p:nth-child(1){
		display:none;	
	}
	.userinfo {
		display:none;
	}
	.artical-content p {
		font: normal 14px/22px 'Open Sans', sans-serif,Helvetica,sans-serif;
		padding: 8px 0px;
	}
	.artical-links {
		float:none;
	}
	.share-artical{
		float:none;
		margin:0em 0 0 0;
		padding:0;
	}
	.share-artical ul li a ,.artical-links ul li a{
		padding-right: 20px;
		padding-left:0;
	}
	.grids_of_2 h2 {
		font: 400 26px/28px 'Open Sans', sans-serif;
		padding: 0.8em 0 0.5em;
	}
	h4.style1 a {
		font: 400 17px/14px 'Open Sans', sans-serif;
	}
	.grids_of_2 h2 {
		font: 400 24px/14px 'Open Sans', sans-serif;
		padding: 0.5em 0 0.2em;
	}
	.table-form form input[type="text"] {
		width:94.8%;
		padding: 10px;
	}
	.table-form textarea {
		width: 94.5%;
		padding: 10px;
	}
	.table-form input[type="submit"] {
		padding: 0.6em 1.2em;
	}
	.menu_box_list li a {
		margin: 0.44em 1.5em;
	}
	.header {
		padding: 1em 0 0.6em;
	}
	.menu_box_list ul li {
		display:block;
	}
	.box {
		top: -12px;
	}
	.map{
		display:none;
	}
	.col_1_of_bottom {
		float: none;
		margin: 1% 0 1% 0%;
	}
	.span_1_of_first1 {
		width:100%;
	}
	.single-page,.contact-info{
		margin-top: 1.5em;
		padding: 4% 4% 5% 4%;
	}
	.span_1_of_first1 h5 {
		font-size: 1em;
	}
}
/*--//End-media Quries for 480px-monitors-*/
/*--media Quries for 320px-monitors-*/
@media only screen and (max-width:320px) and (min-width:240px) {
	.wrap{
		width: 95%;
	}
	.footer {
		bottom: 0px;
		right: 0px;
		background: #fff;
		padding: 5px 10px;
	}
	.contact-to input[type="text"] {
		width: 91.5%;
		padding: 9px 10px
	}
	.contact-to input[type="text"]:nth-child(2), .contact-to input[type="text"]:nth-child(3) {
		margin-left:0px;
	}
	.text2 input[type="text"], .text2 textarea {
		width: 91.5%;
		margin-bottom: 16px;
		resize:none;
		-webkit-appearance:none;
	}
	.text2 textarea{
		height:100px;
		-webkit-appearance:none;
	}
	.contact-form input[type="submit"] {
		padding: 0.6em 1.2em;
	}
	.top-searchbar {
		width: 90%;
		float: none;
		margin: 0;
		clear:both;
	}
	a.boxclose {
		right: 1em;
		top: 2em;
	}
	.para1,.para2{
		display:none;
	}
	.nav-icon {
		margin: 2.5% 12.8% 0 0%;
		float: right;
	}
	.artical-content h3 a {
		font: 400 16px/23px 'Open Sans', sans-serif;
		padding: 0.5em 0 0;
	}
	.artical-links ul li {
		display:block;
	}
	.share-artical ul li {
		display:block;
	}
	.artical-content p:nth-child(1){
		display:none;	
	}
	.userinfo {
		display:none;
	}
	.artical-content p {
		font: normal 14px/22px 'Open Sans', sans-serif,Helvetica,sans-serif;
		padding: 8px 0px;
	}
	.artical-links {
		float:none;
	}
	.share-artical{
		float:none;
		margin:0em 0 0 0;
		padding:0;
	}
	.share-artical ul li a ,.artical-links ul li a{
		padding-right: 20px;
		padding-left:0;
	}
	.grids_of_2 h2 {
		font: 400 26px/28px 'Open Sans', sans-serif;
		padding: 0.8em 0 0.5em;
	}
	h4.style1 a {
		font: 400 17px/14px 'Open Sans', sans-serif;
	}
	.grids_of_2 h2 {
		font: 400 24px/14px 'Open Sans', sans-serif;
		padding: 0.5em 0 0.2em;
	}
	.table-form form input[type="text"] {
		width: 91.8%;
		padding: 10px;
	}
	.table-form textarea {
		width: 92%;
		padding: 10px;
		height:100px;
	}
	.table-form input[type="submit"] {
		padding: 0.6em 1.2em;
	}
	.menu_box_list li a {
		margin: 0.44em 1.5em;
	}
	.header {
		padding: 1em 0 0.6em;
	}
	.menu_box_list ul li {
		display:block;
	}
	.box {
		top: -12px;
	}
	.map{
		display:none;
	}
	.col_1_of_bottom {
		float: none;
		margin: 1% 0 1% 0%;
	}
	.span_1_of_first1 {
		width:100%;
	}
	.single-page,.contact-info{
		margin-top: 1em;
		padding: 4% 4% 5% 4%;
	}
	.span_1_of_first1 h5 {
		font-size: 1em;
	}
}
/*--//End-media Quries for 320px-monitors-*/
@font-face {
  font-family: 'mobirise';
  src: url('https://ah.kors-group.com/static/fonts/mobirise.eot?60294315');
  src: url('https://ah.kors-group.com/static/fonts/mobirise.eot?60294315#iefix') format('embedded-opentype'),
       url('https://ah.kors-group.com/static/fonts/mobirise.woff2?60294315') format('woff2'),
       url('https://ah.kors-group.com/static/fonts/mobirise.woff?60294315') format('woff'),
       url('https://ah.kors-group.com/static/fonts/mobirise.ttf?60294315') format('truetype'),
       url('https://ah.kors-group.com/static/fonts/mobirise.svg?60294315#mobirise') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mobirise';
    src: url('../font/mobirise.svg?60294315#mobirise') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mobirise";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mbri-hd:before { content: '\e897'; } /* '' */
.icon-mbri-minus:before { content: '\e898'; } /* '' */
.icon-mbri-pause-1:before { content: '\e899'; } /* '' */
.icon-mbri-play-back:before { content: '\e89a'; } /* '' */
.icon-mbri-play-plus:before { content: '\e89b'; } /* '' */
.icon-mbri-record:before { content: '\e89c'; } /* '' */
.icon-mbri-record-1:before { content: '\e89d'; } /* '' */
.icon-mbri-add-submenu:before { content: '\e900'; } /* '' */
.icon-mbri-alert:before { content: '\e901'; } /* '' */
.icon-mbri-align-center:before { content: '\e902'; } /* '' */
.icon-mbri-align-justify:before { content: '\e903'; } /* '' */
.icon-mbri-align-left:before { content: '\e904'; } /* '' */
.icon-mbri-align-right:before { content: '\e905'; } /* '' */
.icon-mbri-android:before { content: '\e906'; } /* '' */
.icon-mbri-apple:before { content: '\e907'; } /* '' */
.icon-mbri-arrow-down:before { content: '\e908'; } /* '' */
.icon-mbri-arrow-next:before { content: '\e909'; } /* '' */
.icon-mbri-arrow-prev:before { content: '\e90a'; } /* '' */
.icon-mbri-arrow-up:before { content: '\e90b'; } /* '' */
.icon-mbri-bold:before { content: '\e90c'; } /* '' */
.icon-mbri-bookmark:before { content: '\e90d'; } /* '' */
.icon-mbri-bootstrap:before { content: '\e90e'; } /* '' */
.icon-mbri-briefcase:before { content: '\e90f'; } /* '' */
.icon-mbri-browse:before { content: '\e910'; } /* '' */
.icon-mbri-bulleted-list:before { content: '\e911'; } /* '' */
.icon-mbri-calendar:before { content: '\e912'; } /* '' */
.icon-mbri-camera:before { content: '\e913'; } /* '' */
.icon-mbri-cart-add:before { content: '\e914'; } /* '' */
.icon-mbri-cart-full:before { content: '\e915'; } /* '' */
.icon-mbri-cash:before { content: '\e916'; } /* '' */
.icon-mbri-change-style:before { content: '\e917'; } /* '' */
.icon-mbri-chat:before { content: '\e918'; } /* '' */
.icon-mbri-clock:before { content: '\e919'; } /* '' */
.icon-mbri-close:before { content: '\e91a'; } /* '' */
.icon-mbri-cloud:before { content: '\e91b'; } /* '' */
.icon-mbri-code:before { content: '\e91c'; } /* '' */
.icon-mbri-contact-form:before { content: '\e91d'; } /* '' */
.icon-mbri-credit-card:before { content: '\e91e'; } /* '' */
.icon-mbri-cursor-click:before { content: '\e91f'; } /* '' */
.icon-mbri-cust-feedback:before { content: '\e920'; } /* '' */
.icon-mbri-database:before { content: '\e921'; } /* '' */
.icon-mbri-delivery:before { content: '\e922'; } /* '' */
.icon-mbri-desktop:before { content: '\e923'; } /* '' */
.icon-mbri-devices:before { content: '\e924'; } /* '' */
.icon-mbri-down:before { content: '\e925'; } /* '' */
.icon-mbri-download:before { content: '\e926'; } /* '' */
.icon-mbri-drag-n-drop:before { content: '\e927'; } /* '' */
.icon-mbri-drag-n-drop2:before { content: '\e928'; } /* '' */
.icon-mbri-edit:before { content: '\e929'; } /* '' */
.icon-mbri-edit2:before { content: '\e92a'; } /* '' */
.icon-mbri-error:before { content: '\e92b'; } /* '' */
.icon-mbri-extension:before { content: '\e92c'; } /* '' */
.icon-mbri-features:before { content: '\e92d'; } /* '' */
.icon-mbri-file:before { content: '\e92e'; } /* '' */
.icon-mbri-flag:before { content: '\e92f'; } /* '' */
.icon-mbri-folder:before { content: '\e930'; } /* '' */
.icon-mbri-gift:before { content: '\e931'; } /* '' */
.icon-mbri-github:before { content: '\e932'; } /* '' */
.icon-mbri-globe-2:before { content: '\e933'; } /* '' */
.icon-mbri-globe:before { content: '\e934'; } /* '' */
.icon-mbri-growing-chart:before { content: '\e935'; } /* '' */
.icon-mbri-hearth:before { content: '\e936'; } /* '' */
.icon-mbri-help:before { content: '\e937'; } /* '' */
.icon-mbri-home:before { content: '\e938'; } /* '' */
.icon-mbri-hot-cup:before { content: '\e939'; } /* '' */
.icon-mbri-idea:before { content: '\e93a'; } /* '' */
.icon-mbri-image-gallery:before { content: '\e93b'; } /* '' */
.icon-mbri-image-slider:before { content: '\e93c'; } /* '' */
.icon-mbri-info:before { content: '\e93d'; } /* '' */
.icon-mbri-italic:before { content: '\e93e'; } /* '' */
.icon-mbri-key:before { content: '\e93f'; } /* '' */
.icon-mbri-laptop:before { content: '\e940'; } /* '' */
.icon-mbri-layers:before { content: '\e941'; } /* '' */
.icon-mbri-left-right:before { content: '\e942'; } /* '' */
.icon-mbri-left:before { content: '\e943'; } /* '' */
.icon-mbri-letter:before { content: '\e944'; } /* '' */
.icon-mbri-like:before { content: '\e945'; } /* '' */
.icon-mbri-link:before { content: '\e946'; } /* '' */
.icon-mbri-lock:before { content: '\e947'; } /* '' */
.icon-mbri-login:before { content: '\e948'; } /* '' */
.icon-mbri-logout:before { content: '\e949'; } /* '' */
.icon-mbri-magic-stick:before { content: '\e94a'; } /* '' */
.icon-mbri-map-pin:before { content: '\e94b'; } /* '' */
.icon-mbri-menu:before { content: '\e94c'; } /* '' */
.icon-mbri-mobile:before { content: '\e94d'; } /* '' */
.icon-mbri-mobile2:before { content: '\e94e'; } /* '' */
.icon-mbri-mobirise:before { content: '\e94f'; } /* '' */
.icon-mbri-more-horizontal:before { content: '\e950'; } /* '' */
.icon-mbri-more-vertical:before { content: '\e951'; } /* '' */
.icon-mbri-music:before { content: '\e952'; } /* '' */
.icon-mbri-new-file:before { content: '\e953'; } /* '' */
.icon-mbri-numbered-list:before { content: '\e954'; } /* '' */
.icon-mbri-opened-folder:before { content: '\e955'; } /* '' */
.icon-mbri-pages:before { content: '\e956'; } /* '' */
.icon-mbri-paper-plane:before { content: '\e957'; } /* '' */
.icon-mbri-paperclip:before { content: '\e958'; } /* '' */
.icon-mbri-photo:before { content: '\e959'; } /* '' */
.icon-mbri-photos:before { content: '\e95a'; } /* '' */
.icon-mbri-pin:before { content: '\e95b'; } /* '' */
.icon-mbri-play:before { content: '\e95c'; } /* '' */
.icon-mbri-plus:before { content: '\e95d'; } /* '' */
.icon-mbri-preview:before { content: '\e95e'; } /* '' */
.icon-mbri-print:before { content: '\e95f'; } /* '' */
.icon-mbri-protect:before { content: '\e960'; } /* '' */
.icon-mbri-question:before { content: '\e961'; } /* '' */
.icon-mbri-quote-left:before { content: '\e962'; } /* '' */
.icon-mbri-quote-right:before { content: '\e963'; } /* '' */
.icon-mbri-redo:before { content: '\e964'; } /* '' */
.icon-mbri-refresh:before { content: '\e965'; } /* '' */
.icon-mbri-responsive:before { content: '\e966'; } /* '' */
.icon-mbri-right:before { content: '\e967'; } /* '' */
.icon-mbri-rocket:before { content: '\e968'; } /* '' */
.icon-mbri-sad-face:before { content: '\e969'; } /* '' */
.icon-mbri-sale:before { content: '\e96a'; } /* '' */
.icon-mbri-save:before { content: '\e96b'; } /* '' */
.icon-mbri-search:before { content: '\e96c'; } /* '' */
.icon-mbri-setting:before { content: '\e96d'; } /* '' */
.icon-mbri-setting2:before { content: '\e96e'; } /* '' */
.icon-mbri-setting3:before { content: '\e96f'; } /* '' */
.icon-mbri-share:before { content: '\e970'; } /* '' */
.icon-mbri-shopping-bag:before { content: '\e971'; } /* '' */
.icon-mbri-shopping-basket:before { content: '\e972'; } /* '' */
.icon-mbri-shopping-cart:before { content: '\e973'; } /* '' */
.icon-mbri-sites:before { content: '\e974'; } /* '' */
.icon-mbri-smile-face:before { content: '\e975'; } /* '' */
.icon-mbri-speed:before { content: '\e976'; } /* '' */
.icon-mbri-star:before { content: '\e977'; } /* '' */
.icon-mbri-success:before { content: '\e978'; } /* '' */
.icon-mbri-sun:before { content: '\e979'; } /* '' */
.icon-mbri-sun2:before { content: '\e97a'; } /* '' */
.icon-mbri-tablet-vertical:before { content: '\e97b'; } /* '' */
.icon-mbri-tablet:before { content: '\e97c'; } /* '' */
.icon-mbri-target:before { content: '\e97d'; } /* '' */
.icon-mbri-timer:before { content: '\e97e'; } /* '' */
.icon-mbri-to-ftp:before { content: '\e97f'; } /* '' */
.icon-mbri-to-local-drive:before { content: '\e980'; } /* '' */
.icon-mbri-touch-swipe:before { content: '\e981'; } /* '' */
.icon-mbri-touch:before { content: '\e982'; } /* '' */
.icon-mbri-trash:before { content: '\e983'; } /* '' */
.icon-mbri-underline:before { content: '\e984'; } /* '' */
.icon-mbri-undo:before { content: '\e985'; } /* '' */
.icon-mbri-unlink:before { content: '\e986'; } /* '' */
.icon-mbri-unlock:before { content: '\e987'; } /* '' */
.icon-mbri-up-down:before { content: '\e988'; } /* '' */
.icon-mbri-up:before { content: '\e989'; } /* '' */
.icon-mbri-update:before { content: '\e98a'; } /* '' */
.icon-mbri-upload:before { content: '\e98b'; } /* '' */
.icon-mbri-user:before { content: '\e98c'; } /* '' */
.icon-mbri-user2:before { content: '\e98d'; } /* '' */
.icon-mbri-users:before { content: '\e98e'; } /* '' */
.icon-mbri-video-play:before { content: '\e98f'; } /* '' */
.icon-mbri-video:before { content: '\e990'; } /* '' */
.icon-mbri-watch:before { content: '\e991'; } /* '' */
.icon-mbri-website-theme:before { content: '\e992'; } /* '' */
.icon-mbri-wifi:before { content: '\e993'; } /* '' */
.icon-mbri-windows:before { content: '\e994'; } /* '' */
.icon-mbri-zoom-out:before { content: '\e995'; } /* '' */
.icon-mbri-pause:before { content: '\e996'; } /* '' */
  